<div class="bg-[#0F0F0F] py-24 ">
    <div>
        <p class="text-center font-bold text-4xl flex justify-center text-white">Nos Services</p>
        <div class=" flex justify-center mt-4">    
            <p class="text-center text-white w-[37.5rem]">Nous proposons une variété de services et d'avantages. Nous vous couvrons avec une gamme de voitures et des modalités de location flexibles.</p>
        </div>            
    </div>

    <div class="lg:flex space-y-5  lg:space-y-0 justify-between mt-14 mx-5">
        <div class="flex flex-col w-full justify-center space-y-2 px-5 ">
            <div class="flex justify-center">
                 <img src="../../../../assets/images/Nos-services/qualite.svg" class="w-[60px]" alt="">
            </div>
           
            <p class="text-white font-semibold text-xl flex justify-center">Qualité</p>
            <div class="text-white flex justify-center font-sans text-justify">Nous vous offrons une vaste gamme de voitures de haute qualité pour que vous puissiez profiter pleinement de votre voyage en toute confiance.</div>
        </div>

        <div class="flex flex-col w-full justify-center space-y-2 px-5 ">
            <div class="flex justify-center">
                 <img src="../../../../assets/images/Nos-services/tarif.svg" class="w-[60px]" alt="">
            </div>
           
            <p class="text-white font-semibold text-xl flex justify-center">Tarifs</p>
            <div class="text-white flex justify-center font-sans text-justify">Nous vous proposons un excellent rapport qualité-prix, grâce à une économie d’échelle que nous développons continuellement.</div>
        </div>

        <div class="flex flex-col w-full justify-center space-y-2 px-5 ">
            <div class="flex justify-center">
                 <img src="../../../../assets/images/Nos-services/RV.svg" class="w-[60px]" alt="">
            </div>
           
            <p class="text-white font-semibold text-xl flex justify-center">Réservation en ligne</p>
            <div class="text-white flex justify-center font-sans text-justify">Nous mettons à votre disposition un système de réservation en ligne convivial, pour louer votre voiture de n'importe où et à tout moment.</div>
        </div>

    </div>

</div>
