
<div id="marques" class="block block-wrap justify-center mb-14 container mx-auto">
    <div id="marques" class="flex justify-between items-center ">
      <h2 class="pt-20 pb-10  text-black font-abel text-xl leading-[130%] tracking-tighter">Location par marques</h2>
      <div class="pr">
        <button class="border border-white bg-white text-black w-40 rounded-3xl text-lg relative mt-12 font-abel leading-9 ">
          Voir tout
          <img src="../../../../assets/images/Marques/Icon.svg" alt="icone" class="h-5  w-5 absolute right-3 top-2.5" />
        </button>
      </div>

    </div>

    <div  class="grid  grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 mx-2">


      <div *ngFor="let item of mark" class="m-2 w-full ">
        <div class="w-11/12 h-24 flex-shrink-0  bg-[#0F0F0F] bg-opacity-10">
          <div class="max-w-xs rounded overflow-hidden  border">
            <img class="mx-auto my-auto pt-4 h-12 w-16" src="assets/images/Marques/{{item}}.svg" alt="Image 1">

              <div class=" mb-2 text-gray-900 text-center font-inter text-base font-medium leading-9 ">{{item}} </div>

          </div>
        </div>
      </div>




    </div>
  </div>


  