<footer class="bg-black text-gray-400 py-8">
    <div class="flex items-center justify-center">
      <div class="relative">
        <img src="assets/images/Heading.svg" alt="Image 1" class="w-40 h-20 ">
        <img src="assets/images/footer/iris.svg" alt="Image 2" class="absolute pl-7 top-7 w-36">
      </div>
    </div>

    <hr class="my-8 ml-14 mr-14">

    <div class="lg:flex justify-between grid grid-cols-2 lg:px-8 px-2 gap-y-4">
      <div class="lg:w-1/3 w-full">
        <h3 class="mb-4 text-white text-base font-semibold leading-[144.444%]">Contactez-nous</h3>
        <div class="flex items-center mb-2">
          <img src="assets/images/footer/bxs_phone-call.svg" alt="Téléphone" class="w-6 h-6 mr-2">
          <p class="text-white text-base mb-2">(+212) 5 39 39 39 30</p>
        </div>
        <div class="flex items-center mb-2">
          <img src="assets/images/footer/ic_sharp-email.svg" alt="E-mail" class="w-6 h-6 mr-2">
          <p class="text-white text-base mb-2">contact&#64;luxedrive.ma</p>
        </div>
        <div class="flex items-center">
          <img src="assets/images/footer/carbon_location-filled.svg" alt="Adresse" class="w-6 h-6 mr-2">
          <p class="text-white text-base">36, Avenue Mohamed V, Tanger, Maroc.</p>
        </div>
      </div>

      <div class="lg:w-1/5 w-full">
        <h3 class=" mb-4 text-white text-base font-semibold leading-[144.444%]">Liens Rapides</h3>
        <ul>
          <li><a routerLink="/accueil" class="text-white hover:text-gray-300 text-base mb-2">Accueil</a></li>
          <li><a routerLink="/nos-voitures" class="text-white hover:text-gray-300 text-base mb-2">Réservation</a></li>
          <li><a routerLink="/nos-agences" class="text-white hover:text-gray-300 text-base mb-2">Agences</a></li>
          <li><a routerLink="/contact" class="text-white hover:text-gray-300 text-base mb-2">Contact</a></li>
        </ul>
        <img src="assets/images/footer/secure.svg" alt="Sécurisé" class="w-20 h-auto mt-2">
      </div>

      <div class="lg:w-1/3 w-full">
        <div class="p-1 rounded-lg">
          <h3 class="mb-4 text-white text-base font-semibold leading-[144.444%]">Rejoignez notre Newsletter</h3>
          <div class="flex items-center mb-2 bg-gray-800 mt-6 h-[40px] rounded-xl">
            <input type="email" placeholder="Votre adresse e-mail" class="bg-gray-800 px-2 py-0 rounded mr-2 w-full h-full text-white text-xs focus:outline-none">
            <button class="bg-black text-white px-4 py-1 text-xs font-medium h-full hover:bg-white hover:text-black rounded-sm">S'abonner</button>
          </div>
          <p class="mb-2 text-white font-manrope text-xs font-medium opacity-50 mt-4">*Nous vous enverrons des mises à jour hebdomadaires pour optimiser votre expérience.</p>
        </div>
      </div>


    </div>
  </footer>
